@use '../../assets/styles/variables.scss' as *;

@mixin gray-text {
    font-family: $font;
    color: $gray;
    font-size: 15px;
}
@mixin bold-text {
    font-family: $font;
    color: $gray;
    font-size: 20px;
    font-weight: 800;
    color: black;
}